{{template "header.html"}}

<div class="container pb-5">
    <div class="be-subtitle">
        Block <span class="strong">#{{.block.Number}}</span>
    </div>
    <div class="card border-1 shadow">
        <div class="card-header bg-white be-card-header">
            Overview
        </div>
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-md-3">Block Height:</div>
                <div class="col-md-9">{{.block.Number}}</div>
            </div>
            <hr class="transaction-hr">
            <div class="row align-items-center">
                <div class="col-md-3">Timestamp:</div>
                <div class="col-md-9">{{.block.Timestamp}} secs ago</div>
            </div>
            <hr class="transaction-hr">
            <div class="row align-items-center">
                <div class="col-md-3">Transactions:</div>
                <div class="col-md-9">
                    <span class='badge rounded-pill bg-dark'> 
                        <a href="../transactionsinblock/{{.block.Number}}" style="color: inherit;" data-toggle='tooltip' title='Click to view Transactions' >
                            {{.block.TransactionsNumber}} transactions
                        </a> 
                    </span>								
                    in this block
                </div>
            </div>
            <hr class="transaction-hr">
            <div class="row align-items-center">
                <div class="col-md-3">Validated by:</div>
                <div class="col-md-9"><a href="../address/{{.block.Validator}}">{{.block.Validator}}</a></span></div>
            </div>
            <hr class="transaction-hr">
            <div class="row align-items-center">
                <div class="col-md-3">Difficulty:</div>
                <div class="col-md-9">{{.block.Difficulty}} secs ago</div>
            </div>
            <hr class="transaction-hr">
            <div class="row align-items-center">
                <div class="col-md-3">Total Difficulty:</div>
                <div class="col-md-9">{{.block.TotalDifficulty}}</div>
            </div>
            <hr class="transaction-hr">
            <div class="row align-items-center">
                <div class="col-md-3">Size:</div>
                <div class="col-md-9">{{.block.Size}} bytes</div>
            </div>
            <hr class="transaction-hr">
            <div class="row align-items-center">
                <div class="col-md-3">Gas Used:</div>
                <div class="col-md-9">{{.block.GasUsed}}</div>
            </div>
            <hr class="transaction-hr">
            <div class="row align-items-center">
                <div class="col-md-3">Gas Limit:</div>
                <div class="col-md-9">{{.block.GasLimit}}</div>
            </div>
            <hr class="transaction-hr">
            <div class="row align-items-center">
                <div class="col-md-3">Nonce:</div>
                <div class="col-md-9">{{.block.Nonce}}</div>
            </div>
            <hr class="transaction-hr">
            <div class="row align-items-center">
                <div class="col-md-3">Hash:</div>
                <div class="col-md-9">{{.block.Hash}}</div>
            </div>
            <hr class="transaction-hr">
            <div class="row align-items-center">
                <div class="col-md-3">Parent Hash:</div>
                <div class="col-md-9"><a href="../blockhash/{{.block.ParentHash}}">{{.block.ParentHash}}</a></div>
            </div>
        </div>
    </div>
</div>

{{template "footer.html"}}