{{template "header.html"}}

<div class="container pb-3">
    <div class="be-subtitle">
        NFT Transfers
    </div>
    <div class="card border-1 shadow">
        <div class="card-body">
            <div class="d-md-flex justify-content-between mb-3">
                <p class="mb-0">
                    <span class="d-flex align-items-center"> More than {{.pagination.TotalRows}} records found</span>
                    {{ if (gt .pagination.TotalRows .txsMaxCount )}}
                    <span class="be-small-text">(Showing the last {{.txsMaxCount}} records)</span>
                    {{end}}
                </p>
                <div class="be-pagination">
                    <ul class="d-inline-flex">
                        <li>
                            <a href="/nft/transfers?p=1&l={{.pagination.PerPage}}">First</a>
                        </li>
                        <li>
                            {{ if (gt .pagination.CurrentPage 1)}}
                            <a href="/nft/transfers?p={{.pagination.PreviousPage}}&l={{.pagination.PerPage}}"><</a>
                            {{ else }}
                            <span class="disable-paging-button"></span>
                            {{ end }}
                        </li>
                        <li>
                            <span>Page {{.pagination.CurrentPage}} of {{.pagination.TotalPages}}</span>
                        </li>
                        <li>
                            {{ if (lt .pagination.CurrentPage .pagination.TotalPages)}}
                            <a href="/nft/transfers?p={{.pagination.NextPage}}&l={{.pagination.PerPage}}">></a>
                            {{ else }}
                            <span class="disable-paging-button">></span>
                            {{ end }}
                        </li>
                        <li>
                            <a href="/nft/transfers?p={{.pagination.TotalPages}}&l={{.pagination.PerPage}}">Last</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="table-responsive mb-0">
                <table class="table table-hover align-middle">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Transaction Hash</th>
                            <th scope="col">Method</th>
                            <th id="age" onclick="changeColumn('dateTime')" style="cursor: pointer;" scope="col">Age</th>
                            <th id="dateTime" onclick="changeColumn('age')" style="display: none; cursor: pointer;" scope="col">Date Time (UTC)</th>
                            <th scope="col">From</th>
                            <th scope="col"></th>
                            <th scope="col">To</th>
                            <th scope="col">Type</th>
                            <th scope="col">Item</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .transfers}}
                        <tr>
                            <td><span class="hash-tag text-truncate"><a href="/transaction/hash/{{.TransactionHash}}">{{.TransactionHash}}</a></span></td>
                            <td><span class="method-name badge align-middle bg-light text-dark border border-dark dark:border-white border-opacity-10 fw-normal text-truncate w-100 py-1.5">{{.Method}}</span></td>
                            <td class="ageData">{{.Age}} ago</td>
                            <td class="dateTimeData" style="display: none;">{{.DateTime}}</td>
                            <td>
                                <span class="hash-tag text-truncate">
                                    {{if .IsFromContract}}
                                    <a href="/address/hash/{{.From}}"><i class="fas fa-file-contract"></i> {{.From}}</a>
                                    {{else}}
                                    <a href="/address/hash/{{.From}}">{{.From}}</a>
                                    {{end}}
                                </span>
                            </td>
                            <td class="text-center"><span class="btn btn-sm btn-light rounded-circle"><i class="fas fa-long-arrow-alt-right"></i></span></td>
                            <td>
                                <span class="hash-tag text-truncate">
                                    {{if .IsToContract}}
                                    <a href="/address/hash/{{.To}}"><i class="fas fa-file-contract"></i> {{.To}}</a>
                                    {{else}}
                                    <a href="/address/hash/{{.To}}">{{.To}}</a>
                                    {{end}}
                                </span>
                            </td>
                            <td>
                                <span class="badge border text-dark rounded-pill px-2 py-1.5">{{.Type}}</span>
                                <span class="badge border text-dark rounded-pill px-2 py-1.5">{{.Value}}</span>
                            </td>
                            <td>
                                <a href="/nft/{{.Address}}/{{.TokenId}}" class="d-flex align-items-center" style="gap: 0.5rem;">
                                    <div>
                                        {{if ne .NftImage ""}}
                                        <img src="{{.NftImage}}" alt="nft" style="width: 40px; height: 40px; border-radius: 0.5rem;" onerror="this.src='/images/nft_placeholder.png';">
                                        {{else}}
                                        <img src="/images/nft_placeholder.png" alt="nft_placeholder" style="width: 40px; height: 40px; border-radius: 0.5rem;">
                                        {{end}}
                                    </div>
                                    <div>
                                        <span class="hash-tag text-truncate">
                                            {{if ne .NftName ""}}
                                            NFT: {{.NftName}} #{{.TokenId}}
                                            {{else}}
                                            NFT #{{.TokenId}}
                                            {{end}}
                                        </span>
                                    </div>
                                </a>
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                    <span>Show</span><select id="limitFilterId" class="form-select form-select-sm mx-1" aria-label=".form-select-sm example" onchange="limitChanged()">
                        <option value="10" {{if eq .pagination.PerPage 10}}selected="selected"{{end}}>10</option>
                        <option value="25" {{if eq .pagination.PerPage 25}}selected="selected"{{end}}>25</option>
                        <option value="50" {{if eq .pagination.PerPage 50}}selected="selected"{{end}}>50</option>
                        <option value="100" {{if eq .pagination.PerPage 100}}selected="selected"{{end}}>100</option>
                    </select>
                    <span>records</span>
                </div>
                <div class="be-pagination">
                    <ul class="d-inline-flex">
                        <li>
                            <a href="/nft/transfers?p=1&l={{.pagination.PerPage}}">First</a>
                        </li>
                        <li>
                            {{ if (gt .pagination.CurrentPage 1)}}
                            <a href="/nft/transfers?p={{.pagination.PreviousPage}}&l={{.pagination.PerPage}}"><</a>
                            {{ else }}
                            <span class="disable-paging-button"></span>
                            {{ end }}
                        </li>
                        <li>
                            <span>Page {{.pagination.CurrentPage}} of {{.pagination.TotalPages}}</span>
                        </li>
                        <li>
                            {{ if (lt .pagination.CurrentPage .pagination.TotalPages)}}
                            <a href="/nft/transfers?p={{.pagination.NextPage}}&l={{.pagination.PerPage}}">></a>
                            {{ else }}
                            <span class="disable-paging-button">></span>
                            {{ end }}
                        </li>
                        <li>
                            <a href="/nft/transfers?p={{.pagination.TotalPages}}&l={{.pagination.PerPage}}">Last</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

 {{template "footer.html"}}

 <script>
    javascript:(function() {      
        var cookies = document.cookie.split("; ")     
        cookies.forEach(element => {
            var nameValuePair = element.split("=");       
            if(nameValuePair[0] === "timestamp"){                
                if(nameValuePair[1] === 'DateTime'){
                    changeColumn('dateTime')
                }
                else if (nameValuePair[1] === 'Age'){
                    changeColumn('age')
                }          
            }     
        });
    })();

    function limitChanged(){
        var limitFilter =  document.getElementById("limitFilterId").value;
        window.location = "/nft/transfers?l=" + limitFilter;
    }

    //-----------loader-------------------
    window.onload = function(){
        loader = document.getElementsByClassName("loader");
        loader[0].style.display = "none";
    }

    window.onbeforeunload = function(){
        loader = document.getElementsByClassName("loader");
        loader[0].style.display = "block";
    };

    window.onunload = function(){
        loader = document.getElementsByClassName("loader");
        loader[0].style.display = "none";
    }
    //----------------------------------------
</script>