<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ethernal-Tech</title>
    <link rel="stylesheet" href="../css/transactions.css" />
    <link rel = "icon" href ="../images/ethernal.png" type = "image/x-icon">

</head>
<body>
    <header>
        <div class="container">
            <a href="/">
                <img width="160" src="/images/ethernal-logo.svg" alt="Polygon Logo">
            </a>
        </div>
    </header>
   
    <div class="wrapper">
        <div>
            <div class="wrapper-title">
            </div>
            <div class="wrapper-text">
                Transactions
                <p>For <a href="../address/{{.address}}">{{.address}}</a></p>
            </div>
        </div>
    </div>

    <section class="section-3">
        <div class="container">
            <div class="transactions-content">
                <div class="info-pagination">
                    <div class="info">
                        A total of {{.pagination.TotalRows}} transactions found
                        {{ if (gt .pagination.TotalRows 100000)}}
                        <span class="small-text">(Showing the last 100k records)</span>
                        {{end}}
                    </div>
                    <div class="pagination">
                        <ul>
                            <li>
                                <a href="txsByAddress?address={{.address}}&p=1&l={{.pagination.PerPage}}">First</a>
                            </li>
                            <li>
                                {{ if (gt .pagination.CurrentPage 1)}}
                                <a href="txsByAddress?address={{.address}}&p={{.pagination.PreviousPage}}&l={{.pagination.PerPage}}"><</a>
                                {{ else }}
                                <span class="disable-paging-button"><</span>
                                {{ end }}
                            </li>
                            <li>
                                <span>Page {{.pagination.CurrentPage}} of {{.pagination.TotalPages}}</span>
                            </li>
                            <li>
                                {{ if (lt .pagination.CurrentPage .pagination.TotalPages)}}
                                <a href="txsByAddress?address={{.address}}&p={{.pagination.NextPage}}&l={{.pagination.PerPage}}">></a>
                                {{ else }}
                                <span class="disable-paging-button">></span>
                                {{ end }}
                            </li>
                            <li>
                                <a href="txsByAddress?address={{.address}}&p={{.pagination.TotalPages}}&l={{.pagination.PerPage}}">Last</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="transactions-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Txn Hash</th>
                                <th>Method</th>
                                <th>Block</th>
                                <th>Age</th>
                                <th>From</th>
                                <th></th>
                                <th>To</th>
                                <th>Value</th>
                                <th>Txn Fee</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range .transactions}}
                            <tr>
                                <td><a href="/transaction/{{.Hash}}">{{.Hash}}</a></td>
                                <td></td>
                                <td><a href="/block/{{.BlockNumber}}">{{.BlockNumber}}</a></td>
                                <td>{{.Timestamp}} ago</td>
                                <td><a href="../address/{{.From}}">{{.From}}</a></td>
                                <td></td>
                                <td>                                
                                {{if eq .To ""}}
                                    <a href="../address/{{.ContractAddress}}">{{.ContractAddress}}</a>
                                {{else}}
                                    <a href="../address/{{.To}}">{{.To}}</a>
                                {{end}}
                                </td>
                                <td>{{.Value}} Ether</td>
                                <td>---</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
                
                <div class="info-pagination">
                    <div class="limit">
                        Show <select id="limitFilterId" class="limit-filter" onchange="limitChanged()">
                            <option value="10" {{if eq .pagination.PerPage 10}}selected="selected"{{end}}>10</option>
                            <option value="25" {{if eq .pagination.PerPage 25}}selected="selected"{{end}}>25</option>
                            <option value="50" {{if eq .pagination.PerPage 50}}selected="selected"{{end}}>50</option>
                            <option value="100" {{if eq .pagination.PerPage 100}}selected="selected"{{end}}>100</option>
                        </select> records
                    </div>
                    <div class="pagination">
                        <ul>
                            <li>
                                <a href="txsByAddress?address={{.address}}&p=1&l={{.pagination.PerPage}}">First</a>
                            </li>
                            <li>
                                {{ if (gt .pagination.CurrentPage 1)}}
                                <a href="txsByAddress?address={{.address}}&p={{.pagination.PreviousPage}}&l={{.pagination.PerPage}}"><</a>
                                {{ else }}
                                <span class="disable-paging-button"><</span>
                                {{ end }}
                            </li>
                            <li>
                                <span>Page {{.pagination.CurrentPage}} of {{.pagination.TotalPages}}</span>
                            </li>
                            <li>
                                {{ if (lt .pagination.CurrentPage .pagination.TotalPages)}}
                                <a href="txsByAddress?address={{.address}}&p={{.pagination.NextPage}}&l={{.pagination.PerPage}}">></a>
                                {{ else }}
                                <span class="disable-paging-button">></span>
                                {{ end }}
                            </li>
                            <li>
                                <a href="txsByAddress?address={{.address}}&p={{.pagination.TotalPages}}&l={{.pagination.PerPage}}">Last</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="footer-one">
                <img src="../images/ethernal.png" />
                <p>Powered by Ethernal Tech</p>
            </div>
            <div class="footer-two">
                <p>Ethernal-Tech © 2022 (Goerli) | ⛏ Donate</p>
            </div>
        </div>
    </footer>
</body>

<script>
    function limitChanged(){
        var limitFilter =  document.getElementById("limitFilterId").value;
        window.location = "txsByAddress?address={{.address}}&l=" + limitFilter;
    }
</script>

</html>