:root {
    --background-color: {{ .BackgroundColor}};
    --main-color: {{ .MainColor}};
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
}

.section-1 {
    background-color: var(--background-color); 
    background-image: url('../images/background.svg'); 
    min-height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.network-name {
    font-size: 21px;
    color: white;
}

.input-group {
    max-width: 800px;
    height: 48px;
}

.form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    text-overflow: ellipsis;
}

.form-control:focus {
    box-shadow: 0px 0px 0px 1px var(--main-color);
}

.custom-btn {
    border: 0;
    background-color: var(--main-color);
    width: 52px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.card {
    margin-bottom: 20px;
    height: 480px;
    box-shadow: 0px 4px 10px rgb(219 219 219);
}

.card-header {
    background-color: rgb(255, 255, 255);
    color: rgb(74, 79, 85);
}

.card-body {
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
}

.card-body:hover {
    overflow-y: scroll;
    padding-right: 25px;
}

.card-body::-webkit-scrollbar {
    width: 5px;
}

.card-body::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgb(231, 227, 227);              
}

.card-item {
    height: 68px;
    border-bottom: 1px solid rgb(210, 210, 210);
    padding-top: 10px;
    padding-bottom: 10px;
}

.anchor-wrapper {
    font-size: 14px;
    max-width: 180px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
    cursor: pointer;
}

/*  */

@media screen and (max-width: 575px) {
    .card-item {
        height: 120px;
    }

    .media-mt {
        margin-top: 4px;
    }

    .media-ml {
        margin-left: 3px;
    }
}

@media screen and (min-width: 576px) {
    .media-mw {
        max-width: 80px;
    }

}

@media screen and (min-width: 768px) {
    .media-mw {
        max-width: 120px;
    }
}

@media screen and (min-width: 992px) {
    .media-mw {
        max-width: 70px;
        margin-right: 10px;
    }
}

@media screen and (min-width: 1200px) {
    .media-mw {
        max-width: 100px;
        margin-right: 10px;
    }
}

@media screen and (min-width: 1400px) {
    .media-mw {
        max-width: 120px;
    }
}

/*  */

.card-footer {
    min-height: 50px;
    border-top: 1px solid rgb(210, 210, 210);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-footer button {
    border: none;
    border-radius: 6px;
    height: 86%;
    width: 100%;
    font-size: 12px;
    color: var(--main-color);
    background-color: rgb(var(--main-color), 0.1);
    transition: 0.4s;
}

.card-footer button a {
    color: var(--main-color);
    transition: 0.4s;
}

.card-footer button:hover {
    background-color: var(--main-color);
    color: white;
}

.card-footer button:hover a {
    color: white;
}

.footer {
    margin-top: auto;
    min-height: 140px;
    background-image: url('../images/background.svg');
    background-color: var(--background-color);
    color: white;
}

.footer-container-1 {
    font-size: 18px;
    display: flex;
    align-items: center;
    border-bottom: 0.1px solid rgba(244, 242, 242, 0.231);
    height: 70px;
}

.footer-container-2 {
    margin-top: 20px;
    font-size: 14px;
}  