:root {
    --background-color: {{ .BackgroundColor}};
    --main-color: {{ .MainColor}};
    --button-all-color: {{ .MainColor}}18;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: rgb(248, 249, 250);
}

.top-section {
    background-color: var(--background-color); 
    background-image: url('../images/background.svg'); 
    min-height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.network-name {
    font-size: 21px;
    color: white;
}

.index-card {
    height: 488px;
    box-shadow: 0px 4px 10px rgb(219 219 219);
}

.be-card-header {
    background-color: rgb(255, 255, 255);
    color: var(--background-color);
    font-size: 16px;
    font-weight: bold;
}

.index-card-body {
    overflow-y: hidden;
    overflow-x: hidden;
    padding-left: 30px;
    padding-right: 30px;
}

.index-card-body:hover {
    overflow-y: scroll;
    padding-right: 25px;
}

.index-card-body::-webkit-scrollbar {
    width: 5px;
}

.index-card-body::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgb(231, 227, 227);              
}

.index-card-item {
    height: 68px;
    border-bottom: 1px solid rgb(210, 210, 210);
    padding-top: 10px;
    padding-bottom: 10px;
}

.anchor-wrapper {
    font-size: 14px;
    max-width: 180px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
    cursor: pointer;
}

/*  */

@media screen and (max-width: 575px) {
    .index-card-item {
        height: 120px;
    }

    .media-mt {
        margin-top: 4px;
    }

    .media-ml {
        margin-left: 3px;
    }
}

@media screen and (min-width: 576px) {
    .media-mw {
        max-width: 80px;
    }

}

@media screen and (min-width: 768px) {
    .media-mw {
        max-width: 120px;
    }
}

@media screen and (min-width: 992px) {
    .media-mw {
        max-width: 70px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 992px) {  
    .trim {
        font-size: 14px;
        max-width: 300px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: bottom;
        cursor: pointer;
    }
}

@media screen and (min-width: 1200px) {
    .media-mw {
        max-width: 100px;
        margin-right: 10px;
    }
}

@media screen and (min-width: 1400px) {
    .media-mw {
        max-width: 120px;
    }
}

/*  */

.index-card-footer {
    min-height: 50px;
    border-top: 1px solid rgb(210, 210, 210);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-card-footer button {
    border: none;
    border-radius: 6px;
    height: 86%;
    width: 100%;
    font-size: 12px;
    color: var(--main-color);
    background-color: var(--button-all-color);
    transition: 0.4s;
}

.index-card-footer button a {
    color: var(--main-color);
    transition: 0.4s;
}

.index-card-footer button:hover {
    background-color: var(--main-color);
    color: white;
}

.index-card-footer button:hover a {
    color: white;
}

.index-footer {
    margin-top: auto;
    min-height: 140px;
    background-image: url('../images/background.svg');
    background-color: var(--background-color);
    color: white;
}

.footer-container-1 {
    font-size: 18px;
    display: flex;
    align-items: center;
    border-bottom: 0.1px solid rgba(244, 242, 242, 0.231);
    height: 70px;
}

.footer-container-2 {
    margin-top: 20px;
    font-size: 14px;
}

.hash-tag {
    max-width: 171px;
    display: inline-block;
    vertical-align: bottom;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

a:hover{
    color: var(--main-color);
}

.transaction-hr {
    border-top: 1px solid #e7eaf3;
    margin-top: 12px;
    margin-bottom: 12px;
    opacity: .75;
}

.be-title {
    font-size: 20px;
    color: var(--background-color);
    margin-left: 16px;
    font-weight: bold;
}

.be-subtitle {
    font-size: 20px;
    color: rgb(74, 79, 85);
    margin-top: 20px;
    margin-bottom: 20px;
}

.be-subtitle .strong {
    font-size: 16px;
    color: rgb(119, 131, 143);
}

.be-subtitle .weak {
    font-size: 13px;
    color: rgb(119, 131, 143);
}

.h-100 {
    height: 100%;
}

span.badge.rounded-pill{
    color: var(--background-color) !important;
    background-color: var(--main-color) !important;
    font-size: 12px;;
    color: inherit;
}

span.badge.rounded-pill:hover{
    background-color:var(--background-color) !important;
    color: var(--main-color) !important;
}

.be-small-text {
    font-size: 12px;
}

/*pagination part - start*/
.be-pagination {
    text-align: center;
    font-size: 12.37px;
  }

  .be-pagination ul li{
    border: 1px solid #ddd;
    border-radius: 6px;
    overflow: hidden;
    min-width: 36px;
    height: 29px;
    margin: 0px 4px;
    background-color: rgb(248, 249, 250);
  }

    li a {
        display: block; 
        padding: 5px; 
    }
    li span {
        display: block; 
        padding: 5px;  
    }

    .disable-paging-button {
        cursor: default;
        user-select: none;
    }
/*pagination part - end*/

.txns-number button{
    border: none;
    border-radius: 6px;
    height: 86%;
    width: 100%;
    font-size: 12px;
    color: var(--main-color);
    background-color: var(--button-all-color);
    transition: 0.4s;
    size: 2cm;
}

.txns-number button a {
    color: var(--main-color);
    transition: 0.4s;
}

.txns-number button:hover {
    background-color: var(--main-color);
    color: white;
}

.txns-number button:hover a {
    color: white;
}